.form__group {
  position: relative;
  padding: 15px 0;
  margin-top: 8px;
  width: 100%;
}

.form__field {
  width: 100%;
  border: 0;
  border-bottom: 2px solid $Navy_blue;
  outline: 0;
  font-size: 1.3rem;
  color: $Navy_blue;
  padding: 11px 0px;
  background: transparent;
  transition: border-color 0.2s;
  @media (min-width: 300px) and (max-width: 350px) {
    font-size: 0.9rem;
  }
  @media (min-width: 351px) and (max-width: 440px) {
    font-size: 1rem;
  }

  &::placeholder {
    color: transparent;
  }

  &:placeholder-shown ~ .form__label {
    font-size: 1.3rem;
    cursor: text;
    top: 20px;
  }
}

.form__label {
  position: absolute;
  top: 0;
  display: block;
  transition: 0.2s;
  font-size: 1rem;
  color: $Navy_blue;
}

.form__field:focus {
  ~ .form__label {
    position: absolute;
    top: 0;
    display: block;
    transition: 0.2s;
    font-size: 1rem;
    color: $Navy_blue;
    font-weight: 700;
  }
  font-weight: 700;
  border-width: 3px;
}
/* reset input */
.form__field {
  &:required,
  &:invalid {
    box-shadow: none;
  }
}
